<div class="container" ng-controller="homeController">
    <spacer height="20"></spacer>
    <a ui-sref="web.test">Test page</a>
    <h3>Node Express + Angular + Webpack + Gulp</h3>
    <spacer height="50"></spacer>
    <marked ng-model="data"></marked>
</div>