@white: white;
html, body{
    min-height: 100%;
}
header{
    padding: 20px;
    background: black;
    color: white;
    a{
        color: @white;
        &:hover, &:focus, &:active {
            text-decoration: none;
            color: @white;
        }
    }
}
footer{
    padding: 50px;
    background: black;
    color: white;
}